@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  width: 100vw;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  /* --background-color: #1e1f22; */
  /* --text-color: black; */
  font-size: 14px;
}

[data-theme="dark"] {
  --background-color: #1e1f22;
  --background-actionBar-color: #2b2d31;
  --background-content-color: #313338;
  --text-color: white;
  --active-color: #fff;
  --avatar-bg-color: #313338;
}

[data-theme="light"] {
  --background-color: #e3e5e8;
  --background-actionBar-color: #f2f3f5;
  --background-content-color: #ffffff;
  --text-color: black;
  --active-color: #060607;
  --avatar-bg-color: #fff;
}
